<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>LSASearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>LSASearch</h1>
        <textarea id="inputText" placeholder="Insert what you looks for..." rows="5"></textarea>
        <button id="searchButton">Get related decument</button>

        <div id="results">
            <h2>Result</h2>
            <ul id="resultsList"></ul>
        </div>

        <div id="chartContainer">
            <h2>graph</h2>
            <canvas id="similarityChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
